.navbar {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 1rem;
	padding: 8px 16px;
	user-select: none;
}

.navbar__link {
	padding: 0.4rem;
	font-size: 1.2rem;
	color: #343a40;
	&:hover {
		color: #000000;
	}
}
